<div class="footer">
  <a href="{{ '/' | relative_url }}" class="footer__logo">
    <img src="{{ '/assets/img/userology_logo.svg' | fingerprint }}" class="footer__logo" alt="Userology" width="130"/>
  </a>
  <div class="footer__sections">
    <section class="footer__section">
      <a href="/about-us" class="footer__link">About Us</a>
      <a href="/contact-us" class="footer__link">Contact Us</a>
    </section>
    <section class="footer__section">
      <a href="/about-us" class="footer__link">Terms & Conditions</a>
      <a href="/about-us" class="footer__link">Privacy Policy</a>
      <p class="footer__copywrite">© Let’s Make One Pty Ltd</p>
    </section>
  </div>
</div>
