$purple: #B03EE5;
$purple-dark: #8E2DBA;
$blue-dark: #377EAD;
$blue: #3C96D2;
$blue-light: #B1DCF9;
$green: #3EE5AC;
$white: #ffffff;
$grey: #A2A2A2;
$graphite: #222222;
$grey-light: #FAFAFA;
$grey-lighter: #DFE3E9;
$salmon: #ffb297;
