*, *:before, *:after {
  box-sizing: border-box;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 110%;
  -webkit-text-size-adjust: 100%;
  background: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.85em;
  font-weight: 400;
  color: $graphite;
}

h1,
h2,
h3,
p,
table,
label {
  margin: 0;
  color: $graphite;
}

a {
  color: $green;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: $blue;
}

em {
  background: #eeeeee;
  font-style: normal;
}

p {
  font-size: 20px;
  font-weight: normal;
}

h1 {
  font-size: 36px;
  margin: 12px 0 24px 0;
  font-weight: 500;
  line-height: 1.3em;
}

h2 {
  font-size: 36px;
  margin: 12px 0 24px 0;
  font-weight: 500;
  line-height: 1.3em;
}

h3 {
  font-size: 18px;
  margin: 6px 0;
  font-weight: 500;
}

h4 {
  margin-top: 60px;
}

p {
  margin-bottom: 18px;
  color: $grey;
}


table {
  margin-bottom: 32px;
}

img {
  border: none;
}


input,
label,
select,
button,
textarea
{
  margin:0;
  border:0;
  padding:0;
  display:inline-block;
  vertical-align:middle;
  white-space:normal;
  background:none;
  line-height:1;
  
  /* Browsers have different default form fonts */
  font-size:13px;
  font-family:Arial;
}


/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea
{
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

/* Text Inputs
-----------------------------------------------*/

input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week]
{
  background: $white;
  font-size: 14px;
  color: $graphite;
  padding: 10px;
  border: 1px solid $grey-lighter;
  border-radius: 5px;
  box-sizing:border-box;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

/* Button Controls
-----------------------------------------------*/

input[type=checkbox],
input[type=radio]
{
  width:13px;
  height:13px;
}

/* File Uploads
-----------------------------------------------*/

input[type=file]
{

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search]
{
  -webkit-appearance:textfield;
  -webkit-box-sizing:border-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration
{
  display:none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"]
{
  /* Fix IE7 display bug */
  overflow:visible;
  width:auto;
  padding: 15px 50px 15px 15px;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button
{ 
  padding:0;
  border:0;
  background:none;
}

/* Textarea
-----------------------------------------------*/

textarea 
{
  /* Move the label to the top */
  vertical-align:top;
  
  /* Turn off scroll bars in IE unless needed */
  overflow:auto;
}

/* Selects
-----------------------------------------------*/

select
{

}

select[multiple] 
{
  /* Move the label to the top */
  vertical-align:top;
}


label {
  font-size: 14px;
  display: block;
  text-align: left;
  margin-bottom: 10px;
}

