---
layout: default
---
<div class="header--about">
  {% include components/nav/index.html %}

  <h1 class="header__h1">We belive Great UX starts with shared understanding. Userology can help.</h1>
  <section class="header__section">

    <h2>Launching soon. Register for early access.</h2>
    <a href="/" class="button">Register For Early Access</a>
  </secion>
</div>

<div class="main--privacy-policy">
  {{ content }}
</div>

<div class="cta">
  <section>
    <h2>Register for free early access.</h2>
    <a href="/" class="button">Register For Early Access</a>
  </section>
</div>
